@import url('./.cache/wal/colors-waybar.css');

@define-color mauve  @color9;
@define-color red  @color9;
@define-color lavender  @color7;
@define-color text  @color15;
@keyframes fadeIn {
  0% {
  }
  100% {
  }
}

* {
  all: unset;
  font-family: 'FiraCode Nerd Font Mono', monospace;
  font-size: 1.125rem;
  letter-spacing: -0.05em;
  outline: none;
  border: none;
  text-shadow: none;
  background-color: transparent;
}

window {
  all: unset;
  padding: 1rem;
  border-radius: 0px;
  background-color: alpha(@background, 0.95);
}
#inner-box {
  border: none;
}
#outer-box {
  border: none;
}
#scroll {
  margin: 0px;
  padding: 1rem;
  border: none;
}
#input {
  all: unset;
  margin: 1rem;
	padding: 0.5rem 0.75rem 0.5rem 0px ;
  border: none;
  outline: none;
  color: @text;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#input image {
  border: none;
  color: @background;
}


#entry {
  border: none;
  padding: 1rem;
}
#entry arrow {
  border: none;
  color: @lavender;
}
#entry:selected {
  border: none;
  border-radius: 20px;
  background-color: alpha(@color10, 0.3);
}
#entry:selected #text {
  color: @color10;
}

#entry:drop(active) {
  background-color: @lavender !important;
}
